.about-statement {
    bottom: 0;
    /* color: #00B5FF; */
    color: #000000;
    font-family: Noto Sans;
    font-size: calc(1em + .3vmin);
    font-weight: bold;
    padding-top: 5%;
    padding-left: 36%;
    padding-right: 37%;
    /* padding-bottom: 100%; */
    position: relative;
    text-align: center;
}
.upper-section {
    background-color: #000000;
    /* height: 50%; */
    /* padding-top: 375px; */
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: auto;
}
.heading {
    bottom: 155px;
    color: #FFFFFF;
    /* display: inline; */
    font-family: PT Sans;
    font-size: calc(1em + 3vmin);
    font-weight: bold;
    margin: 0 auto;
    max-width: 50%;
    max-height: 21;
    position: relative;
    top: 55%;
    /* left: 7%; */
    text-align: center;
}
.img-fluid {
    /* display: block; */
    float: right;
    height: auto;
    max-width: 350px;
    /* max-width: 30%; */
    max-height: 350px;
    /* max-height: 30%; */
    opacity: 0.8;
    /* padding-top: 10%; */
    position: absolute;
    top: 36%;
    left: 65%;
}
.middle-section {
    bottom: 0;
}