.copyright {
    font-family: PT Sans;
}

.main-footer {
    background-color: black;
    background-size: 100% 100%;
    bottom: 0;
    color: white;
    height: 55px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    text-align: center;
}